{% extends('base.html.twig') %}

{% block title %}Show!{% endblock %}

{% block body %}
    <h2>{{ post.id }}</h2>
    <h1>{{ post.title }}</h1>
    <em>Kategorija: {{ post.category }}</em>
    <hr />
    <img src="{{ '/uploads/' ~ post.image }}" alt="">
{% endblock %}